
<body> 
    <header>
        <div class="dt flex-center">
            <div class="grid">
                <div class="grid__col-3 flex-center-l">
                    <button class="button-lg-sq home"><i class="fa fa-home"></i></button>
                </div>
                <div class="grid__col-6 flex-center-col">
                    <h2 class="h2">Skillzage</h2>
                    <div class="subtitle1 pt-3 upper center">Skills to build <a class="subtitle1" href="/">a better future</a></div>
                </div>            
                <div class="grid__col-3 flex-center-r">
                    <button class="button-lg-sq user"><i class="fa fa-user"></i></button>
                </div>
            </div>
        </div>
        <div class="mo">
            <div class="grid">
                <div class="grid__col-2 flex-center-b">
                    <button class="button-sm home"><i class="fa fa-home"></i></button>
                </div>
                <div class="grid__col-8 flex-center-b">
                    <div class="center">
                        <h1 class="subtitle2 m-0">Skillzage</h1>
                        <div class="text-smaller upper">Skills to build <a class="text-smaller upper" href="login.html">a better future</a></div>
                    </div>
                </div>
                <div class="grid__col-2 flex-center-b">
                    <button class="button-sm user"><i class="fa fa-user"></i></button>
                </div>
            </div>
        </div>
    </header>    
    <main>
        <div class="pagetitle"><h1>My Chat Groups</h1></div>
        
        <div class="r-box shadow my-3">
            <div class="tgl">
                <div class="tglhead">
                    <div class="subtitle1">Active Chat Groups</div>
                    <div class="toggler" onclick="toggle('sess1', 'sess1tgl')"><i id="sess1tgl" class="fas fa-sort-down fa-sort-up"></i></div>
                </div>
                <div class="tglbody active" id="sess1">
                    <div class="grid-wrap-around courses">
                        <div class="grid__col-4">
                            <div class="course">
                                <div>
                                    <img src="../../assets/img/course2.png" alt="">
                                    <p>Machine Learning A-Z: Hands-On Python in Data Science Machine Learning A-Z: Hands-On Python in Data Science</p>
                                    <div><a href="/">View</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col-4">
                            <div class="course">
                                <div>
                                    <img src="../../assets/img/course1.png" alt="">
                                    <p>Machine Learning A-Z: Hands-On Python in Data Science</p>
                                    <div><a href="/">View</a></div>
                                </div>
                            </div>
                        </div>                
                        <div class="grid__col-4">
                            <div class="course">
                                <div>
                                    <img src="../../assets/img/course2.png" alt="">
                                    <p>Machine Learning A-Z: Hands-On Python in Data Science Machine Learning A-Z: Hands-On Python in Data Science</p>
                                    <div><a href="/">View</a></div>
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        <div class="r-box shadow my-3">
            <div class="tgl">
                <div class="tglhead">
                    <div class="subtitle1">Old Chat Groups</div>
                    <div class="toggler" onclick="toggle('sess2', 'sess2tgl')"><i id="sess2tgl" class="fas fa-sort-down"></i></div>
                </div>
                <div class="tglbody" id="sess2">
                    <div class="grid-wrap-around courses">
                        <div class="grid__col-4">
                            <div class="course">
                                <div>
                                    <img src="../../assets/img/course2.png" alt="">
                                    <p>Machine Learning A-Z: Hands-On Python in Data Science Machine Learning A-Z: Hands-On Python in Data Science</p>
                                    <div><a href="/">View</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="grid__col-4">
                            <div class="course">
                                <div>
                                    <img src="../../assets/img/course1.png" alt="">
                                    <p>Machine Learning A-Z: Hands-On Python in Data Science</p>
                                    <div><a href="/">View</a></div>
                                </div>
                            </div>
                        </div>                
                        <div class="grid__col-4">
                            <div class="course">
                                <div>
                                    <img src="../../assets/img/course2.png" alt="">
                                    <p>Machine Learning A-Z: Hands-On Python in Data Science Machine Learning A-Z: Hands-On Python in Data Science</p>
                                    <div><a href="/">View</a></div>
                                </div>
                            </div>
                        </div>                
                    </div>
                </div>
            </div>
        </div>
        <div class="container buttons-group my-5">            
            <button class="button em">Courses</button>                    
            <button class="button em">Knowledge Hub</button>                                
            <button class="button em">Annoncements</button>                                
        </div>
    </main>
    <footer>
        <div class="grid-footer">
            <div><a href="/"><i class="fa fa-home"></i></a></div>
            <div><a href="/"><i class="fa fa-book-open"></i></a></div>
            <div><a href="/"><i class="fa fa-search"></i></a></div>
            <div><a href="/"><i class="fa fa-bell"></i></a></div>
            <div><a href="/"><i class="fa fa-user"></i></a></div>
        </div>
    </footer>
    <div class="gradient2"></div>
<script src="../../assets/js/main.js"></script>
</body>
