<body class="land"><a name="top"></a>    
    <header>
        <div class="grid">
            <div class="grid__col-2 flex-center pl-2 logo">
                <a href="/"><img src="../../assets/img/logo.png"></a>



            </div>
            <div class="grid__col-8 flex-center">
                <div class="flex-center-col">
                    <h2 class="subtitle2">Skillzage</h2>
                    <div class="text-smaller upper center">Skills to build <span class="primary-color">a better future</span></div>
                </div>            
            </div>
            <div class="grid__col-2 pr-2 flex-center">
                <div class="mo">
                    <button class="button-sm user"><i class="fa fa-user"></i></button>
                </div>
                <div class="dt w100 centerv">
                    <div class="grid-wrap-btw w100 centerv menu">
                        <div class="grid__col-4">
                            <a href="/login">Login</a>
                            <a href="/dashboard">Dashboard</a>

                        </div>
                        <div class="grid__col-4">
                            <a href="/"><i class="fa fa-bars"></i></a>
                        </div>
                        <div class="grid__col-4"></div>
                    </div>    
                </div>
            </div>
        </div>            
    </header>

       

    <main>
        <section class="land-1">
            <div class="grid-wrap">
                <div class="grid__col-6 flex-center">
                    <div class="offer px-2">
                        <h1>Welcome to Skillzage !</h1>                        
                        <div class="line"></div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard </p>
                        <div class="my-3 button">
                            <button class="button em">Get Started</button>
                        </div>
                    </div>
                </div>
                <div class="grid__col-6 flex-center">
                    <div class="media">
                        <img src="../../assets/img/land-media.png" alt="">
                    </div>
                </div>
            </div>
        </section>
        <section class="land-2">
            <div class="wrap">
                <h2>Life Skills forever!</h2>
                <p>Social skills have always been crucial in achieving success in either professional or personal life. However, the need for these life skills has never been more pressing. The Fourth Industrial Revolution has arrived, and the world is changing faster than ever. New technology is creating new industries, and modifying existing ones, hence transforming the way things are made. Ubiquitous, mobile supercomputing. Intelligent robots. Self-driving cars. Automation and AI. These are bringing in a dramatic change in jobs, and the required skills are changing at exponential speed. ​ As machines take over the analytical and routine based jobs, the more creative, collaborative, and intuitive jobs are gaining significance. Social work skills which are at the heart of these jobs have never been more important to scale in life.</p>
                <div class="button">
                    <button class="button em">Test Your Knowledge</button>
                </div>
            </div>
        </section>
        <section class="land-3">
            <div class="wrap">
                <h3>Who is this for?</h3>
                <div class="grid-wrap">
                    <div class="grid__col-6">
                        <div class="media">
                            <img src="../../assets/img/land-media1.png" alt="">
                            <div class="offer my-3">
                                <div class="title">Students</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid__col-6">
                        <div class="media">
                            <img src="../../assets/img/land-media2.png" alt="">
                            <div class="offer my-3">
                                <div class="title">Freelancers</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid__col-6">
                        <div class="media">
                            <img src="../../assets/img/land-media3.png" alt="">
                            <div class="offer my-3">
                                <div class="title">Youn Professionals</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                            </div>
                        </div>
                    </div>
                    <div class="grid__col-6">
                        <div class="media">
                            <img src="../../assets/img/land-media4.png" alt="">
                            <div class="offer my-3">
                                <div class="title">Lifelong Learners</div>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="land-4">            
            <div class="wrap">
                <h3>Explore Courses</h3>
                <div class="grid-wrap">
                    <div class="grid__col-6">
                        <div class="media">
                            <div class="content">
                                <h4>Active Listening</h4>
                                <div class="">
                                    <img src="../../assets/img/course1.png" alt="">
                                </div>
                                <div class="text">
                                    <p>Machine Learning A-Z: Hands-On Python in Data Science</p>
                                </div>
                                <button class="button em">See more</button>
                            </div>
                        </div>
                    </div>
                    <div class="grid__col-6">
                        <div class="media">
                            <div class="content">
                                <h4>Story Telling</h4>
                                <div>
                                    <img src="../../assets/img/course2.png" alt="">
                                </div>
                                <div class="text">
                                    <p>Chatbot Course to Learn Everything</p>
                                </div>
                                <button class="button em">See more</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offer">
                    <h3>Ready to reach your goals?</h3>
                    <button class="button em" >Start Learning</button>
                </div>
                
            </div>
            <div class="bg1"></div>
            <div class="bg2"></div>
        </section>        
    </main>
    <footer>
        <div class="grid-wrap">
            <div class="grid__col-5 col-1">
                <div class="grid">
                    <div class="grid__col-3 logo">
                        <img src="../../assets/img/logo.png" alt="">
                    </div>
                    <div class="grid__col-9 flex-center-col">
                        <div class="logan">Skillzage</div>
                        <div class="slogan">Skills to build <span class="primary-color">a better future</span></div>
                    </div>
                </div>
            </div>
            <div class="grid__col-6 col-2">
                <div class="flex-chain-l menu">
                    <div class="">
                        <div><a href="/">About Us</a></div>
                        <div><a href="/">Contact Us</a></div>
                        <div><a href="/">Site Map</a></div>
                    </div>
                    <div class="">
                        <div><a href="/">Careers</a></div>
                        <div><a href="/">Blog</a></div>
                        <div><a href="/">Testimony</a></div>
                    </div>
                    <div class="">
                        <div><a href="/">Privacy Policy</a></div>
                        <div><a href="/">Terms of Use</a></div>
                    </div>
                </div>
            </div>
            <div class="grid__col-1 col-3">
                <div class="totop"><a href="#top"><i class="fal fa-arrow-to-top"></i></a></div>
            </div>
        </div>
    </footer>
    <div class="grad-land"><img src="../../assets/img/land_bg.png" alt=""></div>
</body>