
<body> 
    <header>
        <div class="dt flex-center">
            <div class="grid">
                <div class="grid__col-3 flex-center-l">
                    <button class="button-lg-sq home"><i class="fa fa-home"></i></button>
                </div>
                <div class="grid__col-6 flex-center-col">
                    <h2 class="h2">Skillzage</h2>
                    <div class="subtitle1 pt-3 upper center">Skills to build <a class="subtitle1" href="/">a better future</a></div>
                </div>            
                <div class="grid__col-3 flex-center-r">
                    <button class="button-lg-sq user"><i class="fa fa-user"></i></button>
                </div>
            </div>
        </div>
        <div class="mo">
            <div class="grid">
                <div class="grid__col-2 flex-center-b">
                    <button class="button-sm home"><i class="fa fa-home"></i></button>
                </div>
                <div class="grid__col-8 flex-center-b">
                    <div class="center">
                        <h1 class="subtitle2 m-0">Skillzage</h1>
                        <div class="text-smaller upper">Skills to build <a class="text-smaller upper" href="login.html">a better future</a></div>
                    </div>
                </div>
                <div class="grid__col-2 flex-center-b">
                    <button class="button-sm user"><i class="fa fa-user"></i></button>
                </div>
            </div>
        </div>
    </header>    
    <main>
        <div class="r-box shadow mt-5">
            <h1 class="subtitle1 py-4 center">Dashboard</h1>
            <div class="grid-wrap-around">
                <div class="grid__col-3 flex-center">
                    <div class="dash-box">
                        <div class="title">
                            <div class="lb">Chart Gradient</div>
                            <div class="lv">456</div>
                        </div>
                        <div class="subtitle">Subtitle</div>
                        <img class="w100" src="../../assets/img/ChartLine.png">
                    </div>                    
                </div>
                <div class="grid__col-3 flex-center">
                    <div class="dash-box">
                        <div class="title">
                            <div class="lb">Chart Gradient</div>
                            <div class="lv">456</div>
                        </div>
                        <div class="subtitle">Subtitle</div>
                        <img class="w100" src="../../assets/img/ChartCircle.png">
                    </div>
                </div>                
                <div class="grid__col-3 flex-center">
                    <div class="dash-box">
                        <div class="title">
                            <div class="lb">Chart Gradient</div>
                            <div class="lv">456</div>
                        </div>
                        <div class="subtitle">Subtitle</div>
                        <img class="w100" src="../../assets/img/ChartLine.png">
                    </div>                    
                </div>
                <div class="grid__col-3 flex-center">
                    <div class="dash-box">
                        <div class="title">
                            <div class="lb">Chart Gradient</div>
                            <div class="lv">456</div>
                        </div>
                        <div class="subtitle">Subtitle</div>
                        <img class="w100" src="../../assets/img/ChartCircle.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="mygrid6 my-4">
            <div class="r-box sm shadow flex-center-col pt-1">
                <i class="fal fa-question-circle"></i>
                <div class="text-medium py-2"  (click)="doTestYourSelf()" >Test Yourself</div>
            </div>
            <div class="r-box sm shadow flex-center-col pt-1">
                <i class="fal fa-calendar-alt"></i>
                <div class="text-medium py-2" (click)="doCareerPath()"  >Career Path</div>
            </div>
            <div class="r-box sm shadow flex-center-col pt-1">
                <i class="fal fa-calendar-alt"></i>
                <div class="text-medium py-2">My Calendar</div>
            </div>
            <div class="r-box sm shadow flex-center-col pt-1">
                <i class="fal fa-trophy-alt"></i>
                <div class="text-medium py-2" (click)="doAchievement()" >Achievements</div>
            </div>
            <div class="r-box sm shadow flex-center-col pt-1">
                <i class="fal fa-users"></i>
                <div class="text-medium py-2" (click)="doMyGroups()" >My Groups</div>
            </div>
            <div class="r-box sm shadow flex-center-col pt-1">
                <i class="fal fa-file-alt"></i>
                <div class="text-medium py-2" (click)="doMyProjects()" >My Projects</div>
            </div>
        </div>
        <div class="container buttons-group my-5">            
            <button class="button em">Courses</button>                    
            <button class="button em">Projects</button>                                
            <button class="button em">Annoncements</button>                                
        </div>
    </main>
    <footer>
        <div class="grid-footer">
            <div><a href="/"><i class="fa fa-home"></i></a></div>
            <div><a href="/"><i class="fa fa-book-open"></i></a></div>
            <div><a href="/"><i class="fa fa-search"></i></a></div>
            <div><a href="/"><i class="fa fa-bell"></i></a></div>
            <div><a href="/"><i class="fa fa-user"></i></a></div>
        </div>
    </footer>
    <div class="gradient2"></div>

</body>
