
<body> 
    <header>
        <div class="dt flex-center">
            <div class="grid">
                <div class="grid__col-3 flex-center-l">
                    <button class="button-lg-sq home"><i class="fa fa-home"></i></button>
                </div>
                <div class="grid__col-6 flex-center-col">
                    <h2 class="h2">Skillzage</h2>
                    <div class="subtitle1 pt-3 upper center">Skills to build <a class="subtitle1" href="/">a better future</a></div>
                </div>            
                <div class="grid__col-3 flex-center-r">
                    <button class="button-lg-sq user"><i class="fa fa-user"></i></button>
                </div>
            </div>
        </div>
        <div class="mo">
            <div class="grid">
                <div class="grid__col-2 flex-center-b">
                    <button class="button-sm home"><i class="fa fa-home"></i></button>
                </div>
                <div class="grid__col-8 flex-center-b">
                    <div class="center">
                        <h1 class="subtitle2 m-0">Skillzage</h1>
                        <div class="text-smaller upper">Skills to build <a class="text-smaller upper" href="login.html">a better future</a></div>
                    </div>
                </div>
                <div class="grid__col-2 flex-center-b">
                    <button class="button-sm user"><i class="fa fa-user"></i></button>
                </div>
            </div>
        </div>
    </header>    
    <main>
        <div class="pagetitle"><h1>Achievements</h1></div>
        <div class="r-box shadow my-3">
            <div class="container ach-btns">
                <div class="">
                    <h4 class="subtitle1">Course Name Longgg title</h4>
                    <div class="date">
                        05/01/2021
                    </div>
                </div>
                <div class="flex-center-r">
                    <button class="button-round txt"><span class="bold">35336</span> <span>Points</span></button>                        
                </div>
            </div>
            <div class="container">
                <div class="image"><img src="../../assets/img/EillenPearce.png" alt=""></div>
            </div>            
            <div class="container">
                <p class="title">Course description:</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>            
        </div>        
        <div class="r-box shadow mt-3">
            <div class="container ext-cert">
                <div class="subtitle1 pb-4 center">External Certification</div>
                <div class="scroll-x">
                    <table>
                        <thead>
                            <tr>
                                <th class="col1">Title</th>
                                <th class="col2">Description</th>
                                <th class="col3">Date of Completion</th>
                                <th class="col4">Score</th>
                                <th class="col5"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="odd">
                                <td>Introduction to AI</td>
                                <td>This is an introductory AI course and its impact on the world.</td>
                                <td>23/01/2020</td>
                                <td>A</td>
                                <td><button class="button-sm esm"><i class="fal fa-edit"></i></button> <button class="button-sm esm"><i class="fal fa-times"></i></button></td>
                            </tr>
                            <tr class="odd">
                                <td>Introduction to AI</td>
                                <td>This is an introductory AI course and its impact on the world.</td>
                                <td>23/01/2020</td>
                                <td>A</td>
                                <td><button class="button-sm esm"><i class="fal fa-edit"></i></button> <button class="button-sm esm"><i class="fal fa-times"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form class="certificate-form" action="">                    
                    <div class="input-group">
                        <input type="text" placeholder="Certificate Title">
                    </div>
                    <div class="input-group">
                        <textarea placeholder="Certificate Description"></textarea>
                    </div>
                    <div class="col-50">
                        <div class="input-group">
                            <div class="select">
                                <select name="" id="">
                                    <option value="">Date of Completion</option>
                                    <option value="">Date of Completion</option>
                                    <option value="">Date of Completion</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group">
                            <input type="text" placeholder="Score">
                        </div>
                    </div>
                    <div class="grid-wrap">
                        <div class="grid__col-6">
                            <div class="input-group uplfile">
                                <input type="text" placeholder="Upload File">
                                <label for=""><i class="fas fa-image"></i></label>
                            </div>
                        </div>
                        <div class="grid__col-6"></div>
                    </div>
                    <div class="grid-wrap mt-3">
                        <div class="grid__col-6"></div>
                        <div class="grid__col-6 flex-center-r">
                            <button class="button em"><span>Save</span></button>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>                
        <div class="container buttons-group my-5">            
            <button class="button em">Courses</button>                    
            <button class="button em">Knowledge Hub</button>                                
            <button class="button em">Annoncements</button>                                
        </div>
    </main>
    <footer>
        <div class="grid-footer">
            <div><a href="/"><i class="fa fa-home"></i></a></div>
            <div><a href="/"><i class="fa fa-book-open"></i></a></div>
            <div><a href="/"><i class="fa fa-search"></i></a></div>
            <div><a href="/"><i class="fa fa-bell"></i></a></div>
            <div><a href="/"><i class="fa fa-user"></i></a></div>
        </div>
    </footer>
    <div class="gradient2"></div>
<script src="../../assets/js/main.js"></script>
</body>

